:export {
  darkpurple: #2f2d52;
  morepuple: #3e3c61;
  purple: #5d5b8d;
  lightpurple: #a7bcff;
  superlightpurple: #ddddf7;
  bluepurple: #8da4f1;
}

.register-login {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-login_form {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-login_form h1 {
  color: #2f2d52;
  margin-bottom: 6px;
}
.register-login_form h3 {
  color: #5d5b8d;
}
.register-login_form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0 40px;
  width: 100%;
}
.register-login_form form input {
  padding: 15px;
  border: none;
  border-bottom: 1px solid #a7bcff;
  width: 100%;
}
.register-login_form form input:focus {
  outline: none;
}
.register-login_form form label {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}
.register-login_form form label img {
  width: 40px;
}
.register-login_form form label p {
  color: #2f2d52;
  font-weight: 500;
}
.register-login_form form button {
  width: 100%;
  background-color: #5d5b8d;
  border: none;
  border-radius: 10px;
  padding: 6px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}
.register-login_form form button:hover {
  background-color: #2f2d52;
}
.register-login_form p {
  font-size: 15px;
  color: #2f2d52;
}

.home {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  width: 70%;
  height: 80%;
  display: flex;
  overflow: hidden;
}
.home_container .sidebar {
  flex: 1;
  border-right: 1px solid #5d5b8d;
  flex-direction: column;
  background-color: #3e3c61;
}
.home_container .sidebar .navbar {
  background-color: #2f2d52;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 15px;
  color: #ddddf7;
}
.home_container .sidebar .navbar .user {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ddddf7;
}
.home_container .sidebar .navbar .user img {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home_container .sidebar .navbar .user button {
  background-color: #5d5b8d;
  border: none;
  border-radius: 4px;
  padding: 4px;
  color: #ddddf7;
  cursor: pointer;
}
.home_container .sidebar .search {
  border-bottom: 1px solid gray;
}
.home_container .sidebar .search_form {
  padding: 10px 15px;
}
.home_container .sidebar .search_form input {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}
.home_container .sidebar .search_form input::-moz-placeholder {
  color: lightgrey;
}
.home_container .sidebar .search_form input::placeholder {
  color: lightgrey;
}
.home_container .sidebar .search_contact {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  padding: 0 15px 10px;
  cursor: pointer;
}
.home_container .sidebar .search_contact img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.home_container .sidebar .chats {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.home_container .sidebar .chats_contact {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  padding: 0 15px 10px;
  cursor: pointer;
}
.home_container .sidebar .chats_contact img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.home_container .sidebar .chats_contact p {
  font-size: 13px;
}
.home .chat {
  flex: 2;
}
.home .chat_info {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #5d5b8d;
  color: #ddddf7;
}
.home .chat_info_icons {
  display: flex;
  gap: 15px;
}
.home .chat_info_icons img {
  height: 30px;
  cursor: pointer;
}
.home .chat .messages {
  background-color: #ddddf7;
  padding: 15px;
  height: calc(100% - 120px);
  overflow: scroll;
}
.home .chat .messages .message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.home .chat .messages .message_contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: gray;
  font-weight: 300;
}
.home .chat .messages .message_contact img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .chat .messages .message_content {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.home .chat .messages .message_content p {
  background-color: white;
  padding: 10px 20px;
  border-radius: 8px;
  max-width: -moz-max-content;
  max-width: max-content;
}
.home .chat .messages .message_content img {
  width: 50%;
}
.home .chat .messages .message.owner {
  flex-direction: row-reverse;
}
.home .chat .messages .message.owner_content {
  align-items: flex-end;
}
.home .chat .input {
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.home .chat .input input {
  width: 100%;
  border: none;
  outline: none;
}
.home .chat .input_send {
  display: flex;
  gap: 20px;
  align-items: center;
}
.home .chat .input_send img {
  height: 30px;
  cursor: pointer;
}
.home .chat .input_send button {
  padding: 8px;
  background-color: #8da4f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}
.home .chat .input_send button:hover {
  background-color: #3e3c61;
  color: white;
}/*# sourceMappingURL=style.css.map */